img {
    height: 50%;
    width: 50%;
}

.guessed-type{
    color: #333333;
}

.guessed-pokemon {
    color: #333333;
}
.image-uploader{
    background-color: #F4F4F4;
    width: 70%;
    height: 600px;
    display: flex;
    box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.22);
    border-radius: 25px;
}
.left-side{
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.right-side{
    width: 50%;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.pok-buttons{
    width: 70%;
    display: flex;justify-content: space-around;
}
.poke-form{
    width: 100%;
    height: 600px;
    display: flex;
}
.type-btn, .pokemon-btn{
    background-color: #DA1111;
    border: none;
    color: white;
    width: 150px;
    padding: 15px 25px;
    border-radius: 25px;
    box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.22);
}